<div *ngIf="!todo.modify;else elseBlock">
  <span
    class="todo-list-item__title">
      Title: {{ todo.title }}
    </span>
  <span class="todo-list-item__description">Description: {{ todo.description }}</span>

  <button
    class="todo-list-item__button"
    (click)=" delitTodo.emit(todo) ">
    Delite
  </button>

  <button
    class="todo-list-item__button"
    (click)=" editTodo.emit(todo) ">
    Edit
  </button>

</div>

<ng-template #elseBlock>



    <input #boxTitle (keyup)="onKeyTitle(boxTitle.value)">
    <p>{{todo.title}}</p>

    <input #boxDescription (keyup)="onKeyDescription(boxDescription.value)">
    <p>{{todo.description}}</p>

    <button (click)=" saveTodo.emit(todo)" >Save</button>



  </ng-template>

